@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Menülerden yapılacak işlemler seçilebilirsiniz
</div>

<div class="row">
    
</div>

    
    
    @model OfficeStock.Entity.Location

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
